<!DOCTYPE html>
<html>
    <head>
        <base href="/">
        <title>TOERH SPA</title>
        <%= stylesheet_link_tag    'spa', media: 'all', 'data-turbolinks-track' => false %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <div ng-app="toerh">
          <div ng-controller="NavigationController">
            <div ng-view class="view-frame animate-view"></div>
          </div>
        </div>
    </body>
</html>
