<footer>
      <div class="container">
        <hr>
        <div class="row">
          <div class="col-md-6">
            <ul class="links">
              <li><%= link_to "Start",   '#' %></li>
              <li><%= link_to "Om",   '#' %></li>
              <li><%= link_to "Registrering", '#' %></li>
            </ul>
          </div>
          <div class="col-md-6 credit">
            <p>Utvecklad av <a href="http://www.antonledstrom.se/">Anton Ledstörm</a> 
            I kursen <em>Webbramverk </em>vid Linnéuniversitetet</p>
          </div>
        </div>
      </div>
    </footer>