<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Registreringsapp", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Start",   '#' %></li>
        <li><%= link_to "Om",   '#' %></li>
        <li><%= link_to "Registrering", '#' %></li>
      </ul>
    </nav>
  </div>
</header>