<section class="event-form">
    <h2>Skapa nytt event</h2>
    <form>
        <section>
            <section>
                <label for="content">innehåll</label>
                <textarea maxlength="140" ng-model="event.content" name="content" autofocus placeholder="Max 150 tecken"></textarea>
            </section>
            <section>
                <label for="position">position</label>
                <select ng-model="event.position" ng-options="position.address for position in positions track by position.id">
                </select>
            </section>
            <section>
                <label for="selectedTags">valda taggar</label>
                <div>
                <span ng-repeat="tag in event.tags">{{tag.name}},</span>
                </div>
            </section>
            <section>
                <label for="tags">taggar</label>
                <input ng-model="stringTags" type="text" name="tags" ng-change="selectTag(stringTags)"  placeholder="Välj taggar, separera taggar med ','">
            </section>
        </section>
        <aside>
            <a class="btn dng" ui-sref="events.listEvents">Avbryt</a>
            <a class="btn" ng-click="save()">Spara</a>
        </aside>
    </form>
</section>
