<section class="event" ng-if="event">
  <aside> <img src="/toerh.png" alt="logo"> </aside>
  <article>
    <header>Skrivet av <a href ui-sref="users.showUser({endUserId: event.end_user.id})" >{{event.end_user.name}}
    </a></header>
    <p class="content"><a href ui-sref="events.showEvent({eventId: event.id})" >{{event.content}}</a></p>
    <footer>
    <span class="email">{{event.end_user.email}} </span>
    <span class="stamp">{{event.created_at}}</span>
    <span class="location">{{event.position.address}}</span>
    <span class="tags right" ng-repeat="tag in event.tags"><a href ui-sref="events.listEventsByTags({tagId: tag.id})">#{{tag.name}}</a>,</span>
    <span class="tags right" ng-if="event.tags[0] == null">Inga taggar</span>
    <div ng-if="endUserId == event.end_user.id">
      <a class="btn dng" href ng-click="removeEvent()">Ta bort</a>
      <a class="btn" href ui-sref="events.listEvents.editEvent({eventId: event.id})">Redigera</a>
    </div>
    </footer>
  </article>
</section>
