<section class="user" ng-if="user">
<aside><img src="/toerh.png" alt="logo"> </aside>
<article>
<header>{{user.email}}</header>
<h2><a href ui-sref="users.show({endUserId: user.id})" >{{user.name}}</a></h2>
<span class="right"><a href ng-click="getEvents(user)"> Inlägg </a></span>
<div ng-show="user.events">
  <ul ng-show="user.showEvents">
      <li ng-repeat="event in user.events">
        <ng-include src="'/templates/_event.html'"></ng-include>
      </li>
  </ul>
</div>
</article>
</section>
