@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato);
$state-danger-text: #a94442;


/* ==========================================================================
	Typography
========================================================================== */
h1, h2, h3, h4, h5, a {
	font-family: 'Montserrat', sans-serif;
}
body, html{
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	height: 100%;
	word-break: normal;
}
p{
	 line-height: 16px;
	 margin-bottom: 15px;
}

a {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	&:focus {
		outline: thin dotted;
	}
	/* * Improves readability when focused and also mouse hovered in all browsers. */
	&:active, &:hover {
		outline: 0;
	}
	&:hover, &:focus {
		color: red;
		text-decoration: none;
	}
}
hr{
	.dark{
		height: 1px;
		border-width: 0;
		background-color: #222
	}
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  /*@extend .has-error;*/
  .form-control {
    color: $state-danger-text;
  }
}

/*========================================================================
  =	miscellaneous
  ======================================================================== */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
/*========================================================================
  =	Header
  ======================================================================== */
header{
	background-color: #222;
	a{
		color: #999;
	}
}
#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: 700;
	&:hover {
		color: red;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}
}


.user_info{
	h2{
		margin-bottom: 0;
	}
	span{
		display: block;
		font-size: 12px;
		color: #222;
	}
	.gravatar {
		float: left;
		margin-right: 10px;
		margin-top: 5px;
	}

}
/* ==========================================================================
	Footer
========================================================================== */
footer {
	background-color: #222;
	padding-top: 15px;
	color: #777;
	a {
  		color: #999;
	}
	small {
		padding-top: 3px;
  		float: right;
	}
	hr {
		height:1px;
		border-width:0;
		background-color:#777
	}
	ul {
  		list-style: none;
		li {
			display: inline-block;
			&::after {
				content: " |";
			}
			&:last-child::after {
				content: "";
			}
		}
	}
}

