@import "bootstrap";

/* ==========================================================================
	Typography
========================================================================== */
a {
	-webkit-transition: all 0.5s; 
	-moz-transition: all 0.5s; 
	-o-transition: all 0.5s; 
	transition: all 0.5s; 
	&:focus { 
		outline: thin dotted; 
	}
	/* * Improves readability when focused and also mouse hovered in all browsers. */
	&:active, &:hover { 
		outline: 0; 
	}
	&:hover, &:focus { 
		color: red; 
		text-decoration: none; 
	}
}
hr{
	.dark{
		height: 1px;
		border-width: 0;
		background-color: #222
	}
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/*========================================================================
  =	miscellaneous 
  ======================================================================== */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
/*========================================================================
  =	Header 
  ======================================================================== */
header{
	background-color: #222;
	a{
		color: #999;
	}
}
#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	&:hover {
		color: red;
		-webkit-transition: all 0.5s; 
		-moz-transition: all 0.5s; 
		-o-transition: all 0.5s; 
		transition: all 0.5s; 
	}
}

/* ==========================================================================
	Hero
========================================================================== */
.hero {
    color: #222; 	
 	opacity: 0.9;

	background: asset-data-url("cloud.jpg") no-repeat center center; 
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
    background-size: cover; 
	padding: 65px 0 300px 0; height: auto; 
    
    -moz-animation-name: backgroundTransition;
    -moz-animation-iteration-count: once;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 1.3s;

    -webkit-animation-name: backgroundTransition;
    -webkit-animation-iteration-count: once;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 1.3s;

    animation-name: backgroundTransition;
    animation-iteration-count: once;
    animation-timing-function: ease-in;
    animation-duration: 1.3s;
	h1 {
		font-size: 40px; 
		text-transform: uppercase;
		letter-spacing: -1px;
		margin: 10px; 
		font-weight: bold;
		span { 
			color: #000; 
			display: inline-block; 
		}
	}
	p { 
		letter-spacing: 1px; 
	}
	.content{
		background: rgba(255, 255, 255, 0.4);
		color: #222;
		h1 {
			text-transform: none;
		}
	}
}

@-webkit-keyframes backgroundTransition {
    0% {
 		opacity: 0.2;
    }
    100% {
 		opacity: 0.9;
    }
}

/* ==========================================================================
	Footer
========================================================================== */
footer {
	background-color: #222; 
	padding-top: 15px;
	color: #777;
	a {
  		color: #999;
	}
	small {
  		float: right;
		line-height: 25px; 
	}
	hr {
		height:1px;
		border-width:0;
		background-color:#777
	}

	ul {
  		float: left;
  		list-style: none;
  		line-height: 25px; 
  		margin-top: 0;
  		padding-top: 0;
		li {
			float: left;
			margin-left: 15px;
			display: inline-block; 
			&::after { 
				content: " |"; 
			}
			&:last-child::after { 
				content: ""; 
			}
		}
	}
}

