<li>
	<%= gravatar_for user %>
	<%= link_to user.name, user %> | 
	<%= user.email %>
	
	<% if current_user.admin? && !current_user?(user) %>
	| <%= link_to "ta bort användaren", user, method: :delete, data: { confirm: "Du säker?" } %>


	<% end %>
</li>