<section class="hero">
    <div class="container">
        <div class="text-center">
            <h1>Registrerings<span>app</span></h1>
            <p>
            Detta är startsidan för registreringsapplikationen. <br>Registrera en användare för att sedan kunna skapa en applikation och få ut en api nyckel. 
            </p>
            <p>
            <%= link_to "Registrera en användare!", signup_path, class: "btn btn-lg btn-primary" %>
            </p>
            <p>
            Redan en användare? <%= link_to "Logga in!", login_path %>
            </p>
        </div>
    </div>
</section>