<section class="hero">
<div class="container">
	<div class="text-center ">
		  <h1>Registrerings<span>app</span></h1>
		  <p>
		  	Detta är startsidan för registreringsapplikationen. <br>Registrera din applikation för att få ut en api nyckel. 
		  </p>
		  <%= link_to "Registrera en app!", '#', class: "btn btn-lg btn-primary" %>
	</div>
</div>
</section>