<% provide(:title, 'Registrera app') %>
<section class="main">
    <div class="container">
        <div class="col-md-8 col-md-offset-1">
            <h2>Registrera användare</h2>
            <%= form_for(@api_user, :html => {class: "form-horizontal" }) do |f| %>
                <%= render 'fields', f: f %>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <%= f.submit "Registrera applikation", class: "btn btn-default" %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</section>